body {
    margin: 0 0 0 0;
}
p {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
   }

p1 {
    background-color: white;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-left: 70px;
    padding-top: 15px;
}

h2 {
    background-color: white;
    color: #4aaaa5;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 30px;
    height: 40px;
}

.nav {
    background-color: white;
    margin-right: 300px;
    width: 300px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.pagetop {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 1px;
}

ul {
    list-style-type: none;
    padding-top: 40px;
    
}

li {
    display: inline;
    padding-right: 20px;
    
}

a:link {
    color: #cccccc;
    text-decoration: none;
}


a:visited {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;

}

.aboutpage {
    background-color: white;
    width: 960px;
    height: 500px;
    margin-left: 180px;
    margin-bottom: 100px;
    margin-top: 70px;
}

img {
    padding-left: 15px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

footer {
    background-color: #666666;
    width: 100%;
    height: 50px;
    border-top-style: solid;
    border-width: 5px;
    border-color: #4aaaa5;
    margin-bottom: 0px;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc
}